.box-posts {
  display: flex;
}

.ads {
  width: 350px;
}

.ads-img {
  width: 100%;
  object-fit: cover;
}

.box-container {
  width: 80%;
  display: flex;
  align-items: center;
}

.container-image {
  width: 250px;
  height: 250px;
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.content {
  margin-left: 20px;
  font-size: small;
}

@media (max-width: 767px) {
  .box-container {
    width: 100%;
  }

  .title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .container-image {
    width: 100px;
    height: 110px;
  }

  .image {
    width: 100px;
    height: 110px;
    object-fit: cover;
  }

  .content-descr {
    display: none;
  }
}

@media (max-width: 768px) {
  .box-container {
    width: 100%;
  }

  .box-posts {
    display: flex;
    flex-direction: column;
  }

  .ads {
    width: 100%;
    margin-top: 25px;
  }

  .ads-img {
    width: 100%;
    object-fit: cover;
  }
}
