/* @media only screen and (min-width: 768px) {
  .container-posts {
    display: flex;
  }

  .container-posts .firstPost {
    width: 60%;
    height: 550px;
  }

  .container-posts .container-secondThirdPost {
    flex-direction: column;
  }

  .secondPost {
    width: 40%;
  }
} */
